{
    "class": "ADC",
    "schemaVersion": "3.6.0",
    "id": "TEST_Firewall",
    "label": "AWS SD FW Rules",
    "remark": "Application with SD + AFM",
    "controls": {
        "class": "Controls",
        "logLevel": "debug"
    },
    "Demo_Application": {
        "class": "Tenant",
        "nonsecure": {
            "class": "Application",
            "template": "http",
            "serviceMain": {
                "class": "Service_HTTP",
                "enable": true,
                "virtualAddresses": [
                    "{{ vip_address }}"
                ],
                "virtualPort": 80,
                "policyFirewallEnforced": {"use": "firewallPolicy"},
                "pool": "web_pool"
            },
            "policyWAF": {
              "bigip": "/Common/test-policy"
            },
            "web_pool": {
              "class": "Pool",
              "monitors": [
                "http"
              ],
              "members": [
                {
                  "servicePort": 80,
                  "addressDiscovery": "aws",
                  "updateInterval": 10,
                  "tagKey": "application",
                  "tagValue": "prod",
                  "addressRealm": "private",
                  "region": "ap-southeast-2",
                  "accessKeyId": "{{ aws_access_key }}",
                  "secretAccessKey": "{{ aws_secret_key }}",
                  "credentialUpdate": false
                },
                {
                  "enable": true,
                  "servicePort": 80,
                  "serverAddresses": [
                    "10.128.0.8"
                  ]
                }
              ]
            },
            "firewallPolicy": {
                "class": "Firewall_Policy",
                "remark": "A firewall policy",
                "rules": [{
                    "use": "ruleList"
                }]
            },
            "ruleList": {
                "class": "Firewall_Rule_List",
                "remark": "A firewall rule list",
                "rules": [
                    {
                        "name": "rule",
                        "remark": "A firewall rule list rule",
                        "action": "accept",
                        "protocol": "tcp",
                        "destination": {
                            "addressLists": [
                                {
                                    "use": "addressList"
                                }
                            ]
                        },
                        "loggingEnabled": true
                    }
                ]
            },
            "addressList":{
                "class":"Firewall_Address_List",
                "remark":"A firewall address list",
                "addresses": [
                    "10.128.0.4",
                      {
                        "servicePort": 80,
                        "addressDiscovery": "aws",
                        "updateInterval": 10,
                        "tagKey": "application",
                        "tagValue": "prod",
                        "addressRealm": "private",
                        "region": "ap-southeast-2",
                        "accessKeyId": "{{ aws_access_key }}",
            			"secretAccessKey": "{{ aws_secret_key }}",
                        "credentialUpdate": false
                      }
                ]
            }
        }
    }
}

